body{
	background-color: #eeeeee;
}
.bg1{
	background-image: url(../image/manh/manh11.jpg);
	height: 800px;
}
img{
	max-width: 100%;
	height: auto;
}
.image-wrap{
	position: relative;
	display: inline-block;
	max-width: 100%;
}
.image-wrap img{
	position: relative;
}
.text-about{
	text-align: center;
	margin: auto;
}.gachngang{
	width: 200px;
	border-color: #63AA9C;
}
.text-banner{
	font-size: 50px;
}
.text-mission{
	text-align: center;
	padding: 50px 0;
}