.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: default;
}

.hovereffect .overlay1 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	bottom: 40px;
	/*top: 80%;*/
	height: 0;
	background: rgba(0, 0, 0, 0.7);
	color: #3c4a50;
	-webkit-transition: height 0.35s;
	transition: height 0.35s;
}

.hovereffect .detail-btn {
	color: #ccc;
   	font-size: 1.5em;
	float: left;
	padding-left: 10px;
}

.hovereffect .detail-btn:hover {
	color: #fff !important;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.5em;
}

.hovereffect .green:hover {
	color: #70e570 !important;
}

.hovereffect .blue:hover {
	color: #6bc6ff !important;
}

.hovereffect .yellow:hover {
	color: #ff9e14 !important;
}


.hovereffect .detail-btn,
.hovereffect p.icon-links a {
	-webkit-transition: height 0.35s;
	transition: height 0.35s;
	visibility: visible;
}

.hovereffect .detail-btn span:before,
.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 15px;
}


.hovereffect:hover .overlay1,
.hovereffect:hover .detail-btn,
.hovereffect:hover p.icon-links a {
	-webkit-transition: height 0.35s;
	transition: height 0.35s;
	height: 3.5em;
}
