.pro-content {
	width: 90%;
	margin: auto;
}


/*.brand-product {
	width: 90%;
}*/

.brand-banner{
	/*background-position: center;*/
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
	height: 400px;
}

.poliform-banner-sofa {
	background-image: url('../image/Poliform/banner-sofa.jpg');
}
.poliform-banner-bed {
	background-image: url('../image/Poliform/banner-bed.jpg');
}

.poliform-banner-table {
	background-image: url('../image/Poliform/banner-table.jpg');
}

.poliform-banner-chair {
	background-image: url('../image/Poliform/banner-chair.jpg');
}

.cassina-banner-sofa {
	background-image: url('../image/Cassina/banner-sofa.jpg');
}

.cassina-banner-bed {
	background-image: url('../image/Cassina/banner-bed.jpg');
}

.cassina-banner-table {
	background-image: url('../image/Cassina/banner-table.jpg');
}

.cassina-banner-chair {
	background-image: url('../image/Cassina/banner-chair.jpg');
}

.page-mapping {
	height: 40px;
	line-height: 40px;
	background-color: white;
	/*border: 1px solid black;*/
}

.page-mapping ol {
	list-style-type: none;
	padding-left: 15px;
}

.page-mapping ol li {
	display: inline;
}

.page-mapping ol li a {
	font-family: 'Montserrat';
	font-size: 12px;
	padding-right: 5px;
	vertical-align: middle;
	color: black;
	text-decoration: none;
}

.product-title-banner {
	height: 70px;
	width: 100%;
	line-height: 70px;
	padding-left: 15px;
	background-color: #f7f7f7;
}

.product-title-banner p {
	/*font-family: 'Montserrat';*/
	font-weight: 700;
	font-size: 30px;
	letter-spacing: -.3px;
	vertical-align: middle;
}

.brand-info {
	height: 300px;
	height: auto;
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
}

.brand-info p {
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -.3px;
}

.brand-product {
	height: 300px;
}

.menu-left {
	background-color: #f7f7f7;
	width: 300px;
	/*full screen height*/
	height:100vh;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.fix-menu-left {
	position: fixed;
	left: 5%;
	top: 60px;
}

.placeholder-left {
	width: 300px;
	height:100vh;
	float: left;
	clear: left;
}

.product-title {
	font-family: 'Montserrat';
	font-size: 18px;
	/*font-weight: bold;*/
	color: #afafaf;
}

.product-title a {
	text-decoration: none;
	color: black;
}

.product-title a:hover {
	color: #828282;
}

.row-title {
	margin-bottom: 10px;
}

.break-line {
	/*width: 95%;*/
	border-color: #afafaf;
	border-width: 1px;
	border-bottom: groove;
}

ul {
	list-style-type: none;
}

ul.brand-submenu li {
	/*margin-left: 10px;*/
	margin-top: 10px;
}

ul.brand-submenu li a {
	/*font-family: 'Montserrat';*/
	text-decoration: none;
	font-weight: 600;
	color: black;
}

ul.brand-submenu li a:hover {
	color: #828282;
	/*border-bottom: 1px solid #828282;*/
	/*text-decoration: underline;*/
}

.darken-layer {
 	position: relative;
}

.darken-layer:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}

.darken-with-text p {
	font-family: 'Montserrat';
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 400px;
	color: white;
	position: relative;
	z-index: 1;
}

.pro-img-frame {
	width: 370px;
	max-width: 100%;
	height: auto;
	position: relative;
	margin: auto;
	
}

.underline-hover {
	max-width: 100%;
	/*padding-bottom: 7px;*/
	border: 3px solid black;
	border-color: rgba(0, 0, 0, 0);
}

.underline-hover:hover {
	border-color: rgba(0, 0, 0, 1);
}

.pro-title-2 {
	height: 100px;
}

.pro-title-2 ul {
	list-style-type: none;
}

.pro-title-2 li:first-child {
	width: 400px;
	margin-top: 10px;
	/*text-align: center;*/
	font-family: 'Montserrat';
	font-weight: 1000;
	/*font-size: 20px;*/
	text-transform: uppercase;
}

@media only screen and (max-width: 770px) {
	.menu-left { display: none; }
	.placeholder-left { display: none; }
	.brand-product { margin:auto; }
}

@media only screen and (min-width: 770px) {
	.top-menu { display: none; }
	.expand-menu { display: none !important; }
	.placeholder-left { display: block }
}

li.choosen-menu a {
	font-size: 20px;
	/*border-bottom: 2px solid black;*/
	margin-left: 5px;
	color: #00348c !important;
}

.top-menu {
	/*display: none;*/
	width: 100%;
	height: 35px;
	/*border: 1px none black;*/
	background-color: #f1f1f1;
	cursor: pointer;
	margin-bottom: 30px;
	padding-left: 5%;
}

.expand-menu {
	display: none;
	height: 100px;
}
