body{
	font-size: 16px;
	background: #eeeeee;
}
*{
	padding: 0;
	margin: 0;
}
.row{
	margin:0;
}
.container{
	margin: auto;
	max-width: 87.5rem;
	width: 100%;
}
.bag-item {
	float: right;
}
.bag-item a {
	display: block;
	text-decoration: none;
	padding: 0 20px;
}
.bag-item.show-bag{
	display: none;
}
.bag-item a i{
	color: #999999;
	line-height: 60px;
}
.bag-item a:hover {
	background: #d41f36;
}
.banner {
	background: #444444;
	height: 60px;
	display: flex;
}
.logo-banner{
	margin: auto;
}
.logo{
	position: absolute;
	top: 5px;
	left: 50%;
	width: auto;
	height: auto;
	transition: all .5s ease;
	z-index: 101;
	margin: 0 0 0 -80px;
	opacity: 0;
}
.logo a{
	margin: 0;
	color:  #d41f36;
	font-family: fantasy;
	font-size: 35px;
}
.logo.show{
	opacity: 1;
}
.logo.hide{
	position: fixed;
	margin: 0;
	left: 20px;
}
.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	right: 0;
}
.sub-menu.fix-submenu{	
	line-height: 60px;
	height: 60px;
}
.nav-bar ul {
	list-style-type: none;
	background: #fff;
	margin: 0;	
	line-height: 50px;
	height: 50px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}
.nav-bar ul.sub-menu li {
	display: inline-table;
	position: relative;

}.nav-bar ul.sub-menu li a{
	display: block;
	text-decoration: none;
	color: #333;	
	padding: 0 10px;
}
.nav-bar a.catalogue:hover {
	background: #eeeeee;
	color: #d41f36;
	padding: 0 10px;
}
.logo a {
	display: block;
	text-decoration: none;
}
.bag-item-navbar {
	position: absolute;
}
.bag-item.fix-bag {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;
	display: block;
}
.nav-bar ul li >.drop-menu{
	display: none;	
	width: 250px;
	background: #eeeeee;
	height: auto;
}
.nav-bar ul li:hover .drop-menu{
	display: block;
	position: absolute;
	text-align: left;
	padding-left: 20px;
	z-index: 1000;
	border: solid 1px #999999;
	animation: showup 2s;
}
.nav-bar ul.sub-menu li ul.drop-menu li{
	display: list-item;
}
.nav-bar ul.sub-menu li ul.drop-menu li a:hover{
	color: #d41f36;
}
.parallax{
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 600px;
	position: relative;

}

/*content*/
.room-show{
	background-color: white;
}

.living-room{
	background-image: url(../image/manh.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
}
.bed-room{
	background-image: url(../image/manh1.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
}
.office{
	background-image: url(../image/manh2.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
}
.dining-room{
	background-image: url(../image/manh3.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
}
.bathroom{
	background-image: url(../image/manh4.jpg);
	height: 500px;
	background-size: cover;
	background-position: center;
}

.parent {
    overflow: hidden;
    height: 500px;
    position: relative;
    cursor: pointer;
}


.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.bg-banner{
	background-image: url(../image/manh5.jpg);
}
/* Several different images */

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
}
.text-banner {
	display: block;
    font-size: 35px;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
}
.khung {
	 animation: showup 7s;
}

@keyframes showup {
    0% {opacity:0;}    
    30% {opacity:1;}
    100% {opacity:1;}
}
.manhdaica{	
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
}