<!DOCTYPE html>
<html>
<head>
	<title>Cassina Chairs</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Animation on scroll -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<!-- source css -->
	<link rel="stylesheet" type="text/css" href="../../../css/style-home.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand.css">
	<script src="../../../javascript/header.js"></script>
	<script src="../../../javascript/brand.js"></script>
</head>
<body>
<!------------------------------ begin of navbar col -------------------------------------------->
	<div>
		<div class="banner">
			<div class="logo show">
				<a href="../../../home.html">SWEETHOME</a>				
			</div>
			<div class="bag-item show-bag">
				<a href="">
					<i class="fa fa-shopping-bag"></i>
				</a>
			</div>
		</div>
		<div class="nav-bar">
			<ul class="sub-menu">
				<li>
					<a class="catalogue" href=""><i class="fa fa-star"></i>BRANDS</a>
					<ul class="drop-menu">
						<li><a href="../poliform/poliform_sofa.html">Poliform</a></li>
						<li><a href="cassina_sofa.html">Cassina</a></li>
						<li><a href="brand3.html">Brand 3</a></li>
						<li><a href="brand4.html">Brand 4</a></li>
					</ul>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-coffee"></i>LIVING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bed"></i>BEDROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="	fa fa-desktop"></i>OFFICE</a>
				</li>	
				<li>
					<a class="catalogue" href=""><i class="fa fa-cutlery"></i>DINING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bath"></i>BATHROOM</a>
				</li>						
			</ul>			
		</div>					
	</div>
<!------------------------------ end of navbar col -------------------------------------------->

	<div class="content">
<!------------------------------ begin of banner -------------------------------------------->
		<div class="page-mapping">
			<ol>
				<li><a href="../../../home.html">Home</a>/</li>
				<li><a href="#">Brands</a>/</li>
				<li><a href="#">Cassina</a>/</li>
				<li><a href="#">Chairs</a></li>
			</ol>
			
		</div>
		<div class="product-title-banner">
			<p>Chairs</p>
		</div>
		<div class="brand-banner cassina-banner-chair darken-layer darken-with-text">
				<p>Cassina</p>
		</div>

		<div class="brand-info">
			<p>
				"This extensive range of <b>designer chairs</b> is conceived for a variety of uses and furnishing styles, from home settings to work and representative spaces. The evolution of the icons of the great masters of architecture - reissued with absolute respect for the authentic pieces - meets with the new shapes of contemporaneity, from clean-cut geometries and minimalist proportions to smooth and sinuous shapes. In a continuous balance of stability and lightness, high comfort merges with meticulous attention to the most exclusive details and executions, revealing perfect stitching on fine leathers and creative constructions in wood or aluminium. "
			</p>
		</div>
<!------------------------------ end of navbar col -------------------------------------------->
		<div class="pro-content">
<!------------------------------ begin of sub menu col -------------------------------------------->
			<div class="placeholder-left">
				<div class="menu-left">
					<p class="product-title">Products</p>
					<!-- <p class="break-line"></p> -->
					<ul class="brand-submenu">
						<li><a href="cassina_sofa.html">Sofas</a></li>
						<li><a href="cassina_bed.html">Beds</a></li>
						<li><a href="cassina_table.html">Tables</a></li>
						<li class="choosen-menu"><a href="#">Chairs</a></li>
					</ul>
				</div>	
			</div>
			
			<div class="top-menu show-expand-menu">
				<span class="">Products</span>
			</div>
			
			
			<div class="expand-menu">
				<ul class="">
					<li><a href="cassina_sofa.html">Sofas</a></li>
					<li><a href="cassina_bed.html">Beds</a></li>
					<li><a href="cassina_table.html">Tables</a></li>
					<li><a href="#">Chairs</a></li>
				</ul>
			</div>
<!------------------------------ end of sub menu col -------------------------------------------->
<!------------------------------ begin of product col -------------------------------------------->
			<div class="brand-product">
				<!-- <div class="row row-title">
					<div class="col-xs-12 col-sm-6 col-xl-3">
						<span class="product-title "><a href="">Chairs</a></span>
					</div>
				</div> -->
				<div class="row menu-middle">
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/133_ico.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>133 Ico</li>
								<li>Ora Ito</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/139_cotone.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>139 Cotone Legno</li>
								<li>Ronan & Erwan Bouroullec</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/140_cotone.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>140 Cotone</li>
								<li>Ronan & Erwan Bouroullec</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/170_cotone.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>140 Cotone Slim</li>
								<li>Ronan & Erwan Bouroullec</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/184_eve.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>184 Eve</li>
								<li>Piero Lissoni</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/245_caprice.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>245 Caprice Stools</li>
								<li>Philippe Starck</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/246_passion.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>246 Passion</li>
								<li>Philippe Starck</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/247_caprice.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>247 Caprice</li>
								<li>Philippe Starck</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/248_passion.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>248 Passion</li>
								<li>Philippe Starck</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/279_beugel.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>279 Beugel</li>
								<li>Gerrit Thomas Rietveld</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/280_zigzag.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>280 Zig Zag</li>
								<li>Gerrit Thomas Rietveld</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/292_hill.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>292 Hill House 1</li>
								<li>Charles Rennie Mackintosh</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/296_kanu.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>296 Kanu</li>
								<li>Konstantin Grcic</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/298.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>298 (Unicredit Pavilion Project)</li>
								<li>Michele De Lucchi</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/312_willow1.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>312 Willow 1</li>
								<li>Charles Rennie Mackintosh</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/324_ds3.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>324 D.S.3</li>
								<li>Charles Rennie Mackintosh</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/367_hola.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>367 Hola</li>
								<li>Hannes Wettstein</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/369_hola.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>369 Hola</li>
								<li>Hannes Wettstein</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/397_m10.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>397 M10</li>
								<li>Patrick Norguet</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/401_break.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>401 Break</li>
								<li>Mario Bellini</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/410_cab.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>410 Cab</li>
								<li>Mario Bellini</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/412_cab.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>412 Cab</li>
								<li>Mario Bellini</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/413_cab.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>413 Cab</li>
								<li>Mario Bellini</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/422_bull.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>422 Bull</li>
								<li>Mario Bellini</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/471_pilotta.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>471 Pilotta</li>
								<li>Rodolfo Dordoni</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/501_goteborg.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>501 Goteborg 1</li>
								<li>Erik Gunnar Asplund</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/517_ombra.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>517 Ombra Tokyo</li>
								<li>Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/528_indochine.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>528 Indochine</li>
								<li>Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/560_backwing.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>560 Back-wing</li>
								<li>Patricia Urquiola</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/601_robie.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>601 Robie 1</li>
								<li>Frank Lloyd Wright</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/606_barrel.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>606 Barrel</li>
								<li>Frank Lloyd Wright</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/606_barrel_ta.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>606 Barrel Taliesin</li>
								<li>Frank Lloyd Wright</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/614_coonley.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>614 Coonley 2</li>
								<li>Frank Lloyd Wright</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/635_black.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>635 Black</li>
								<li>Gerrit Thomas Rietveld</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/635_red.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>635 Red</li>
								<li>Gerrit Thomas Rietveld</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/646_leggera.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>646 Leggera</li>
								<li>Gio Ponti</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/684.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>684</li>
								<li>Mario Bellini</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/699_superleggera.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>699 Superleggera</li>
								<li>Gio Ponti</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/699_superleggera_le.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>699 Superleggera Limited Edition</li>
								<li>Gio Ponti</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/832_luisa.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>832 Luisa</li>
								<li>Franco Albini</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/905.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>905</li>
								<li>Vico Magistretti</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/eraclea.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Eraclea</li>
								<li>Studio Simon</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/gaja.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Gaja/Gaja Bar</li>
								<li>Kazuhide Takahama</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/jano.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Jano Lg</li>
								<li>Kazuhide Takahama</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/k06_aki.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>K06 aki biki canta </li>
								<li>Toshiyuki Kita</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/lc1.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Lc1</li>
								<li>Le Corbusier, Pierre Jeanneret, Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/lc1_pampas.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>lc1 pampas</li>
								<li>Le Corbusier, Pierre Jeanneret, Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/lc1_uam.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>lc1 uam</li>
								<li>Le Corbusier, Pierre Jeanneret, Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/lc1_villa.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>lc1 villa</li>
								<li>Le Corbusier, Pierre Jeanneret, Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/lc7.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>lc7</li>
								<li>Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/lc8.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>lc8</li>
								<li>Charlotte Perriand</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/ljin.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>ljin lg</li>
								<li>Kazuhide Takahama</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Chairs/tulu.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>tulu</li>
								<li>Kazuhide Takahama</li>
							</ul>
						</div>
					</div>
				</div>
<!------------------------------ end of product col -------------------------------------------->
			</div>
		</div>
	</div>
</body>
</html>