<!DOCTYPE html>
<html>
<head>
	<title>Cassina Sofas</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Animation on scroll -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<!-- source file -->
	<link rel="stylesheet" type="text/css" href="../../../css/style-home.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand.css">
	<script src="../../../javascript/header-slide.js"></script>
	<script src="../../../javascript/brand.js"></script>
</head>
<body>
<!------------------------------ begin of navbar col -------------------------------------------->
	<div>
		<div class="banner">
			<div class="logo show">
				<a href="../../../home.html">SWEETHOME</a>				
			</div>
			<div class="bag-item show-bag">
				<a href="">
					<i class="fa fa-shopping-bag"></i>
				</a>
			</div>
		</div>
		<div class="nav-bar">
			<ul class="sub-menu">
				<li>
					<a class="catalogue" href=""><i class="fa fa-star"></i>BRANDS</a>
					<ul class="drop-menu">
						<li><a href="../poliform/poliform_sofa.html">Poliform</a></li>
						<li><a href="#">Cassina</a></li>
						<li><a href="brand3.html">Brand 3</a></li>
						<li><a href="brand4.html">Brand 4</a></li>
					</ul>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-coffee"></i>LIVING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bed"></i>BEDROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="	fa fa-desktop"></i>OFFICE</a>
				</li>	
				<li>
					<a class="catalogue" href=""><i class="fa fa-cutlery"></i>DINING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bath"></i>BATHROOM</a>
				</li>						
			</ul>			
		</div>					
	</div>
<!------------------------------ end of navbar col -------------------------------------------->

	<div class="content">
<!------------------------------ begin of banner -------------------------------------------->
		<div class="page-mapping">
			<ol>
				<li><a href="../../../home.html">Home</a>/</li>
				<li><a href="#">Brands</a>/</li>
				<li><a href="#">Cassina</a>/</li>
				<li><a href="#">Sofas</a></li>
			</ol>
			
		</div>
		<div class="product-title-banner">
			<p>Sofas</p>
		</div>
		<div class="brand-banner cassina-banner-sofa darken-layer darken-with-text">
				<p>Cassina</p>
		</div>

		<div class="brand-info">
			<p>
				"<b>Designer sofas</b> epitomize the brilliance achieved by the company in the upholstered furniture industry in over 90 years of history - a model of beauty and harmony that brings together craftsmanship and innovation in the spirit of avant-gardism. Structures reveal precise, engineered mechanisms, developed to accompany every gesture and movement with dynamism and equilibrium, and rendered in both linear and modular constructions. The exclusive upholstery includes premium quality full grain leather, <b>high-class</b> saddle leather and sleek sartorial fabrics, completed with signature double-stitching and needlecraft to infuse the Meda Made savoir faire into every surface."
			</p>
		</div>
<!------------------------------ end of navbar col -------------------------------------------->
		<div class="pro-content">
<!------------------------------ begin of sub menu col -------------------------------------------->
			<div class="placeholder-left">
				<div class="menu-left">
					<p class="product-title">Products</p>
					<!-- <p class="break-line"></p> -->
					<ul class="brand-submenu">
						<li class="choosen-menu"><a href="#">Sofas</a></li>
						<li><a href="cassina_bed.html">Beds</a></li>
						<li><a href="cassina_table.html">Tables</a></li>
						<li><a href="cassina_chair.html">Chairs</a></li>
					</ul>
				</div>	
			</div>
			
			<div class="top-menu show-expand-menu">
				<span class="">Products</span>
			</div>
			
			
			<div class="expand-menu">
				<ul class="">
					<li class=""><a href="#">Sofas</a></li>
					<li><a href="cassina_bed.html">Beds</a></li>
					<li><a href="cassina_table.html">Tables</a></li>
					<li><a href="cassina_chair.html">Chairs</a></li>
				</ul>
			</div>
<!------------------------------ end of sub menu col -------------------------------------------->
<!------------------------------ begin of product col -------------------------------------------->
			<div class="brand-product">
				<div class="row menu-middle">
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/553_bowy.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>553 Bowy-sofa</li>
								<li>Patricia Urquiola</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/202_8.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>202 8</li>
								<li>Piero Lissoni</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/206_cube.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>206 8 Cube</li>
								<li>Piero Lissoni</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/271_mex.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>271 Mex Cube</li>
								<li>Piero Lissoni</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/503_soft.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>503 Soft Props</li>
								<li>Konstantin Grcic</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/550_beam.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>550 Beam Sofa</li>
								<li>Patricia Urquiola</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/551_superbeam.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>551 Super Beam Sofa</li>
								<li>Patricia Urquiola</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/552_floe.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>552 Floe Insel</li>
								<li>Patricia Urquiola</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/675_maralunga.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>675 Maralunga Diavo</li>
								<li>Vico Magistretti</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Cassina/Sofas/720_lady.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>720 Lady Diavo</li>
								<li>Marco Zanuso</li>
							</ul>
						</div>
					</div>

<!------------------------------ end of product col -------------------------------------------->
			</div>
		</div>
	</div>
</body>
</html>