<!DOCTYPE html>
<html>
<head>
	<title>Poliform Beds</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Animation on scroll -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<!-- source css -->
	<link rel="stylesheet" type="text/css" href="../../../css/style-home.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand.css">
	<script src="../../../javascript/header.js"></script>
	<script src="../../../javascript/brand.js"></script>
</head>
<body>
<!------------------------------ begin of navbar col -------------------------------------------->
	<div>
		<div class="banner">
			<div class="logo show">
				<a href="../../../home.html">SWEETHOME</a>				
			</div>
			<div class="bag-item show-bag">
				<a href="">
					<i class="fa fa-shopping-bag"></i>
				</a>
			</div>
		</div>
		<div class="nav-bar">
			<ul class="sub-menu">
				<li>
					<a class="catalogue" href=""><i class="fa fa-star"></i>BRANDS</a>
					<ul class="drop-menu">
						<li><a href="poliform_sofa.html">Poliform</a></li>
						<li><a href="../cassina/cassina_sofa.html">Cassina</a></li>
						<li><a href="brand3.html">Brand 3</a></li>
						<li><a href="brand4.html">Brand 4</a></li>
					</ul>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-coffee"></i>LIVING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bed"></i>BEDROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="	fa fa-desktop"></i>OFFICE</a>
				</li>	
				<li>
					<a class="catalogue" href=""><i class="fa fa-cutlery"></i>DINING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bath"></i>BATHROOM</a>
				</li>						
			</ul>			
		</div>					
	</div>
<!------------------------------ end of navbar col -------------------------------------------->

	<div class="content">
<!------------------------------ begin of banner -------------------------------------------->
		<div class="page-mapping">
			<ol>
				<li><a href="../../../home.html">Home</a>/</li>
				<li><a href="#">Brands</a>/</li>
				<li><a href="#">Poliform</a>/</li>
				<li><a href="#">Beds</a></li>
			</ol>
			
		</div>
		<div class="product-title-banner">
			<p>Beds</p>
		</div>
		<div class="brand-banner poliform-banner-bed darken-layer darken-with-text">
				<p>Poliform</p>
		</div>

		<div class="brand-info">
			<p>
				"Modern bedrooms, havens of relaxation, favour <b>designer beds</b> for their smooth, comfortable elegance, featuring streamlined shapes and well-balanced volumes that heighten the feeling of lightness and pleasure. Designed to coordinate with the matching range of sofas, these <b>unique bed frames</b> include fixed die-cast aluminium constructions and flexible structures, perfectly in harmony with the wide range of low tables and stools available in the collection. Shapes are made up of slender, minimalist lines, polyurethane padding and headboards with soft cushions enhanced with multiple layers of foam and down."
			</p>
		</div>
<!------------------------------ end of navbar col -------------------------------------------->
		<div class="pro-content">
<!------------------------------ begin of sub menu col -------------------------------------------->
			<div class="placeholder-left">
				<div class="menu-left">
					<p class="product-title">Products</p>
					<!-- <p class="break-line"></p> -->
					<ul class="brand-submenu">
						<li><a href="poliform_sofa.html">Sofas</a></li>
						<li class="choosen-menu"><a href="#">Beds</a></li>
						<li><a href="poliform_table.html">Tables</a></li>
						<li><a href="poliform_chair.html">Chairs</a></li>
					</ul>
				</div>	
			</div>
			
			<div class="top-menu show-expand-menu">
				<span class="">Products</span>
			</div>
			
			
			<div class="expand-menu">
				<ul class="">
					<li><a href="poliform_sofa.html">Sofas</a></li>
					<li><a href="#">Beds</a></li>
					<li><a href="poliform_table.html">Tables</a></li>
					<li><a href="poliform_chair.html">Chairs</a></li>
				</ul>
			</div>
<!------------------------------ end of sub menu col -------------------------------------------->
<!------------------------------ begin of product col -------------------------------------------->
			<div class="brand-product">
				<!-- <div class="row row-title">
					<div class="col-xs-12 col-sm-6 col-xl-3">
						<span class="product-title "><a href="">Beds</a></span>
					</div>
				</div> -->
				<div class="row menu-middle">
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Arca.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Arca</li>
								<li>Paolo Piva</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Bolton.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Bolton</li>
								<li>Giuseppe Viganò</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Bruce.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Bruce</li>
								<li>Jean-Marie Massaud</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Dream.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Dream</li>
								<li>Marcel Wanders</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Ipanema.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Ipanema</li>
								<li>Jean-Marie Massaud</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Jacqueline.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Jacqueline</li>
								<li>Jean-Marie Massaud</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Kelly.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Kelly</li>
								<li>Emmanuel Gallina</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Laze.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Laze</li>
								<li>Marcel Wanders</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Memo.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Memo</li>
								<li>Carlo Colombo</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Onda.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Onda</li>
								<li>Paolo Piva</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Park.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Park</li>
								<li>Carlo Colombo</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover2" src="../../../image/Poliform/Beds/Rever.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Rever</li>
								<li>Rodolfo Dordoni</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
<!------------------------------ end of product col -------------------------------------------->

		</div>
	</div>
	
    	
</body>
</html>