<!DOCTYPE html>
<html>
<head>
	<title>Mercury Tables</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- Animation on scroll -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<!-- source file -->
	<link rel="stylesheet" type="text/css" href="../../../css/style-home.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand-hover-effect.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand-comparison.css">
	<script src="../../../javascript/header.js"></script>
	<script src="../../../javascript/brand.js"></script>
</head>
<body>
<!------------------------------ begin of navbar col -------------------------------------------->
	<div>
		<div class="banner">
			<div class="logo show">
				<a href="../../../home.html">DURABLE</a>				
			</div>
			<div class="bag-item show-bag">
				<a href="">
					<i class="fa fa-shopping-bag"></i>
				</a>
			</div>
		</div>
		<div class="nav-bar">
			<div class="menu-icon">
				<a href="../../../home.html">DURABLE</a>
				<i class="fa fa-bars fa-2x"></i>
			</div>
			<ul class="sub-menu">
				<li class="brand-dropdown">
					<span class="catalogue"><a href="../brand.html"><i class="fa fa-star"></i>BRANDS</a></span>
					<ul class="drop-menu">
						<li><a href="sofa.html">Mercury</a></li>
						<li><a href="../jupiter/sofa.html">Jupiter</a></li>
						<li><a href="../mars/sofa.html">Mars</a></li>
					</ul>
				</li>
				<li>
					<a class="catalogue" href=""><i class="icon-navbar fa fa-coffee"></i>Living room</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="icon-navbar fa fa-bed"></i>Bedroom</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="icon-navbar fa fa-desktop"></i>Office</a>
				</li>	
				<li>
					<a class="catalogue" href=""><i class="icon-navbar fa fa-cutlery"></i>Kitchen</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="icon-navbar fa fa-bath"></i>Bathroom</a>
				</li>
				<li class="brand-dropdown-1">
					<span class="catalogue"><i class="fa fa-id-card-o"></i>About Us</span>
					<ul class="drop-menu-1">
						<li><a href="../../../about-me.html">Our Story</a></li>
						<li><a href="../../../contact-us.html">Contact Us</a></li>
					</ul>
				</li>						
			</ul>			
		</div>					
	</div>
<!------------------------------ end of navbar col -------------------------------------------->

	<div class="content">
<!------------------------------ begin of banner -------------------------------------------->
		<div class="blank-space-top"></div>
		<div class="page-mapping">
			<ol>
				<li><a href="../../../home.html">Home</a>/</li>
				<li><a href="../brand.html">Brands</a>/</li>
				<li><a href="#">Mercury</a>/</li>
				<li><a href="#">Tables</a></li>
			</ol>
		</div>
		<div class="product-title-banner">
			<p>Tables</p>
		</div>
		<div class="brand-banner mercury-banner-table darken-layer darken-with-text">
				<p>Mercury</p>
		</div>

		<div class="line-break"></div>
		<div class="brand-info w3-panel w3-leftbar w3-rightbar w3-border-grey">
			<div class="row">
				<div class="col-sm-12 col-lg-2 white">
					<img src="../../../image/brands/mercury.jpg">
				</div>
				<div class="col-md-12 col-lg-6  w3-light-grey">
					<p><b>Mercury Company</b> cloneted building furniture specific for this industry and also utilizing Amish furniture builders for exceptional quality and strength.  Not yet satisfied, The Durable Furniture Company began using a custom finish shop and upholstery for the healthcare industry to provide the ultimate products.  We believe a unique and special industry requires a specific solution for home furnishings. You want furniture that promotes a natural living environment but can also withstand the rigors of working with people who have challenging needs.</p>
				</div>
				<!-- <div class="col-sm-12 col-md-1">
					
				</div> -->
				<div class="brand-info-img col-md-12 col-lg-4  w3-light-grey">
					
				</div>
			</div>
		</div>
		<div class="line-break"></div>
<!------------------------------ end of navbar col -------------------------------------------->
		<!-- <div class="pro-content clearfix"> -->
<!------------------------------ begin of sub menu col -------------------------------------------->
		<div class="">
			<div class="menu-mid">
				<!-- <p class="product-title">Products</p> -->
				<ul class="brand-submenu">
					<li class="product-title">Products</li>
					<li><a href="sofa.html">Sofas</a></li>
					<li><a href="bed.html">Beds</a></li>
					<li class="choosen-menu"><a href="#">Tables</a></li>
					<li><a href="chair.html">Chairs</a></li>
				</ul>
			</div>	
		</div>
			
		<div class="mini-menu-left">
			<div class="top-menu">
				<span class="">Products</span>
			</div>
			<div class="expand-menu">
				<ul class="">
					<li><a href="sofa.html">Sofas</a></li>
					<li><a href="bed.html">Beds</a></li>
					<li class="choosen-menu"><a href="#">Tables</a></li>
					<li><a href="chair.html">Chairs</a></li>
				</ul>
			</div>
		</div>
			
<!------------------------------ end of sub menu col -------------------------------------------->
		<!-- <div class="pro-content container"> -->
<!------------------------------ begin of product col -------------------------------------------->
			<div class="container">
				<div class="row">
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 1" data-id="mertable1" data-size="250x150x90" data-cover="polyester fibre" data-color="white" data-price="2000 vnd">
							<!-- <div class="underline-hover2"> -->
							<a href="">
								<img class="pro-img-frame" src="../../../image/mercury/tables/1.jpg">
							</a>
							<div class="pro-name">
								<span class="left">Table Mercury 1</span>
								<span class="right red">2000vnd</span>
							</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable1.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 2" data-id="mertable2" data-size="200x100x90" data-cover="leather" data-color="grey" data-price="23000vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="">
									<img class="pro-img-frame" src="../../../image/mercury/tables/2.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Table Mercury 2</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable2.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 3" data-id="mertable3" data-size="250x200x90" data-cover="polyester fibre" data-color="white" data-price="5000vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="">
									<img class="pro-img-frame" src="../../../image/mercury/tables/3.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Table Mercury 3</span>
									<span class="right red">5000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable3.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 4" data-id="mertable4" data-size="230x120x90" data-cover="leather" data-color="black" data-price="7500vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="">
									<img class="pro-img-frame" src="../../../image/mercury/tables/4.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Table Mercury 4</span>
									<span class="right red">7500vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable4.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 5" data-id="mertable5" data-size="300x250x90" data-cover="polyester fibre" data-color="brown" data-price="65200vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="">
									<img class="pro-img-frame" src="../../../image/mercury/tables/5.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Table Mercury 5</span>
									<span class="right red">65200vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable5.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 6" data-id="mertable6" data-size="350x150x90" data-cover="leather" data-color="grey" data-price="23000vnd">
							<!-- <div class="underline-hover2"> -->
								<a href="">
									<img class="pro-img-frame" src="../../../image/mercury/tables/6.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Table Mercury 6</span>
									<span class="right red">23000vnd</span>
								</div>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable6.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 7" data-id="mertable7" data-size="150x100x90" data-cover="polyester fibre" data-color="brown" data-price="43300vnd">
								<a href="">
									<img class="pro-img-frame" src="../../../image/mercury/tables/7.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Table Mercury 7</span>
									<span class="right red">43300vnd</span>
								</div>
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable7.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
					<div class="col-12 col-xs-6 col-sm-6 col-md-4 col-xl-3 col-padding">
						<div class="pro-item hovereffect" data-title="Table Mercury 8" data-id="mertable8" data-size="150x100x90" data-cover="polyester fibre" data-color="black" data-price="7900vnd">
								<a href="">
									<img class="pro-img-frame" src="../../../image/mercury/tables/8.jpg">
								</a>
								<div class="pro-name">
									<span class="left">Table Mercury 8</span>
									<span class="right red">7900vnd</span>
							<!-- </div> -->
							<div class="overlay1">
				                <a class="detail-btn" href=""><span class="fas fa-search"></span></a>
				                <p class="icon-links">
				                    <a href="../../../download/mertable8.docx" download>
				                        <span class="fas fa-download green"></span>
				                    </a>
				                    <a href="javascript:void(0)">
				                        <span class="fas fa-clone yellow addToCompare"></span>
				                    </a>
				                    <a href="#">
				                        <span class="fas fa-cart-plus blue"></span>
				                    </a>
				                </p>
				            </div>
						</div>
					</div>
				</div>
<!------------------------------ end of product col -------------------------------------------->
				
			</div>
		</div>
	</div>
<!------------------------------ begin of compare col -------------------------------------------->
	<div class="w3-container  w3-center">
	    <div class="w3-row w3-card-4 w3-grey w3-round-large w3-border comparePanle w3-margin-top">
	        <div class="w3-row">
	            <div class="w3-col l9 m8 s6 w3-margin-top">
	                <h4>Added for comparison</h4>
	            </div>
	            <div class="w3-col l3 m4 s6 w3-margin-top">
	                <button class="w3-btn w3-round-small w3-white w3-border notActive cmprBtn" disabled>Compare</button>
	            </div>
	        </div>
	        <div class=" titleMargin w3-container comparePan">
	        </div>
	    </div>
	</div>

	<div id="id01" class="w3-animate-zoom w3-white w3-modal modPos">
		<!-- <div class="w3-modal-content"> -->
			<div class="w3-container">
				<a onclick="document.getElementById('id01').style.display='none'" class="whiteFont w3-padding w3-closebtn closeBtn w3-display-topright"></a>
				<div class="contentPop"></div>
			</div>
	</div>
<!------------------------------ end of compare col -------------------------------------------->
	<div class="go-top">
		<a href="#">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</a>
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>ROOMS</h6>
						<ul>
							<li><a style="color: #6b6b6b; ">Living Room</a></li>
							<li><a style="color: #6b6b6b; ">Bedroom</a></li>
							<li><a style="color: #6b6b6b; ">Office</a></li>
							<li><a style="color: #6b6b6b; ">Kitchen</a></li>
							<li><a style="color: #6b6b6b; ">Bathroom</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>BRANDS</h6>
						<ul>
							<li><a style="color: #6b6b6b;" href="components/brands/poliform/poliform_sofa.html">Poliform</a></li>
							<li><a style="color: #6b6b6b; " href="">Brand 2</a></li>
							<li><a style="color: #6b6b6b; " href="">Brand 3</a></li>
							<li><a style="color: #6b6b6b; " href="">Brand 4</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<a href="" class="contact-us" style="color: #6b6b6b;" class="">CONTACT US</a>
						<ul>
							<li><a style="color: #6b6b6b;" target="_blank" href="https://www.google.com/maps/place/CT6A+Xa+La/@20.9608757,105.7984011,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ad21667e0557:0xb8e1dd08a4c200e7!8m2!3d20.9608757!4d105.8005898">CT6A1, Chung cư Xa La, Hà Đông</a></li>
							<li><a style="color: #6b6b6b; " href="mailto:nguyenducmanh.sla@gmail.com">nguyenducmanh.sla@gmail.com</a></li>
							<li><a style="color: #6b6b6b; " href="tel:0123456789">0123456789</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6">
					<div class="footer-content">
						<h6>FOLLOW</h6>
						<a href="" class="footer-icon"><i class="fa fa-facebook-official"></i></a>
						<a href="" class="footer-icon"><i class="fa fa-instagram"></i></a>
						<a href="" class="footer-icon"><i class="fa fa-google-plus-square"></i></a>
						<a href="" class="footer-icon"><i class="fa fa-twitter-square"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>