<!DOCTYPE html>
<html>
<head>
	<title>Poliform Tables</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Animation on scroll -->
	<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<!-- source css -->
	<link rel="stylesheet" type="text/css" href="../../../css/style-home.css">
	<link rel="stylesheet" type="text/css" href="../../../css/style-brand.css">
	<script src="../../../javascript/header-slide.js"></script>
	<script src="../../../javascript/brand.js"></script>
</head>
<body>
<!------------------------------ begin of navbar col -------------------------------------------->
	<div>
		<div class="banner">
			<div class="logo show">
				<a href="../../../home.html">SWEETHOME</a>				
			</div>
			<div class="bag-item show-bag">
				<a href="">
					<i class="fa fa-shopping-bag"></i>
				</a>
			</div>
		</div>
		<div class="nav-bar">
			<ul class="sub-menu">
				<li>
					<a class="catalogue" href=""><i class="fa fa-star"></i>BRANDS</a>
					<ul class="drop-menu">
						<li><a href="poliform_sofa.html">Poliform</a></li>
						<li><a href="../cassina/cassina_sofa.html">Cassina</a></li>
						<li><a href="brand3.html">Brand 3</a></li>
						<li><a href="brand4.html">Brand 4</a></li>
					</ul>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-coffee"></i>LIVING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bed"></i>BEDROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="	fa fa-desktop"></i>OFFICE</a>
				</li>	
				<li>
					<a class="catalogue" href=""><i class="fa fa-cutlery"></i>DINING ROOM</a>
				</li>
				<li>
					<a class="catalogue" href=""><i class="fa fa-bath"></i>BATHROOM</a>
				</li>						
			</ul>			
		</div>					
	</div>
<!------------------------------ end of navbar col -------------------------------------------->

	<div class="content">
<!------------------------------ begin of banner -------------------------------------------->
		<div class="page-mapping">
			<ol>
				<li><a href="../../../home.html">Home</a>/</li>
				<li><a href="#">Brands</a>/</li>
				<li><a href="#">Poliform</a>/</li>
				<li><a href="#">Tables</a></li>
			</ol>
			
		</div>
		<div class="product-title-banner">
			<p>Tables</p>
		</div>
		<div class="brand-banner poliform-banner-table darken-layer darken-with-text">
				<p>Poliform</p>
		</div>

		<div class="brand-info">
			<p>
				"<b>Designer tables</b> reflects on all aspects of daily life, through each space in the home and office, bringing together high quality materials and distinguishing features in an indissoluble combination of efficiency, stability and elegance. The range explores and surpasses the classic schemes of architectural design, elevating exclusive materials such as marble, solid wood and pure crystal into simplified shapes, sculptural volumes and geometrical lines. Slender legs and minimalist bases give way to advanced solutions and complex shapes that even include a frame of twisted slats, an intersection of stretched cables conceived as a tensegrity structure, and immovable supports creating monolithic fluting or a unique play on solids and voids."
			</p>
		</div>
<!------------------------------ end of navbar col -------------------------------------------->
		<div class="pro-content">
<!------------------------------ begin of sub menu col -------------------------------------------->
			<div class="placeholder-left">
				<div class="menu-left">
					<p class="product-title">Products</p>
					<!-- <p class="break-line"></p> -->
					<ul class="brand-submenu">
						<li><a href="poliform_sofa.html">Sofas</a></li>
						<li><a href="poliform_bed.html">Beds</a></li>
						<li class="choosen-menu"><a href="#">Tables</a></li>
						<li><a href="poliform_chair.html">Chairs</a></li>
					</ul>
				</div>	
			</div>
			
			<div class="top-menu show-expand-menu">
				<span class="">Products</span>
			</div>
			
			
			<div class="expand-menu">
				<ul class="">
					<li><a href="poliform_sofa.html">Sofas</a></li>
					<li><a href="poliform_bed.html">Beds</a></li>
					<li><a href="#">Tables</a></li>
					<li><a href="poliform_chair.html">Chairs</a></li>
				</ul>
			</div>
<!------------------------------ end of sub menu col -------------------------------------------->
<!------------------------------ begin of product col -------------------------------------------->
			<div class="brand-product">
				<!-- <div class="row row-title">
					<div class="col-xs-12 col-sm-6 col-xl-3">
						<span class="product-title "><a href="">Tables</a></span>
					</div>
				</div> -->
				<div class="row menu-middle">
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Blade.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Blade</li>
								<li>R&D Poliform</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Concorde.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Concorde</li>
								<li>Emmanuel Gallina</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Flute.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Flute</li>
								<li>Roberto Barbieri</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Gill.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Gill</li>
								<li>Roberto Barbieri</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Howard.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Howard</li>
								<li>Jean-Marie Massaud</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Mad.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Mad</li>
								<li>Marcel Wanders</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Opera.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Opera</li>
								<li>Emmanuel Gallina</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3" data-aos="fade-up" data-aos-offset="50px">
						<a href="">
							<img class="pro-img-frame underline-hover" src="../../../image/Poliform/Tables/Trevi.jpg">
						</a>
						<div class="pro-title-2">
							<ul>
								<li>Trevi</li>
								<li>Roberto Barbieri</li>
							</ul>
						</div>
					</div>
				</div>
<!------------------------------ end of product col -------------------------------------------->
			</div>
		</div>
	</div>

</body>
</html>